<div class="hover p-3 mt-5">
    <a class="text-dark dblock " href="/article/{uid}/{id}">        
        <div class="row">
            <div class="col-lg-5">
                <img class="w-100 lazy rounded" alt="{title}" src="{image}" rel="noreferrer nofollow" />
            </div>
            <div class="col">
                <h5>{title}</h5>
                <span class="badge badge-info"><i class="fa fa-bookmark"></i> {category}</span>
                <span class="badge badge-primary"><i class="fa fa-calendar"></i> {date}</span>
                <span class="badge badge-success"><i class="fa fa-clock"></i> {time} Minutes</span>
                <span class="badge badge-warning"><i class="fa fa-star"></i> {rating}</span>
                <span class="badge badge-danger"><i class="fa fa-fire"></i> {kcal} KCalories</span>
                <span class="badge badge-secondary"><i class="fa fa-signal"></i> {difficulty}</span>
            </div>
        </div>
    </a>
</div>